<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
	<header class="m-b-30">
		<div class="container">
			<div class="logo">WebSockets Chat</div>
		</div>
	</header>

    <div class="container js-page-content">
        Loading...
    </div>

    <!-- Dependencies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="~/scripts/bundle.js"></script>
</body>
</html>